@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik {
  font-family: "Rubik", sans-serif;
}



/* Keyframe animation for button */
/* Copy code to element you want to animate */
.animate-button:hover {
  animation: customAni 2s ease 0s infinite normal none;
  /* Copy code to element you want to animate */
  animation: customAni 2s ease 0s infinite normal none;
}

/* Copy this code after the above code */
@keyframes customAni {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-10px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-5px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-3px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-2px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-1px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Copy this code after the above code */
@keyframes customAni {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


/* title style  */
#title{
  background: #076AA5;
  background: linear-gradient(to right, #076AA5 0%, #0095FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  logo icon hover syle  */
.animate-scale {
  animation: hoverScale 2s ease 0s infinite normal none;
}

@keyframes hoverScale{
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1);
  }
}


/* Mongodb logo icon hover syle  */
.animate-scale-mongoDb {
  animation: hoverScaleMongodb 3s ease 0s infinite normal none;
}

@keyframes hoverScaleMongodb{
  0%{
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.7);
  }
  100%{
    transform: scale(0.3);
  }
}

/* Mongodb logo icon hover syle  */
.animate-smoth-bounce{
  animation: logoBounce 3s ease 0s infinite normal none;
}

@keyframes logoBounce{
  0%{
    transform: translateY(20%);
  }
  50% {
    transform: translateY(-20%);
  }
  100%{
    transform: translateY(20%);
  }
}


/* project section bg animation  */
.bg-animation {
  background-size: cover;
  background-position: center top;
  transition: background-position 3s ease-in-out; /* Smooth animation */
}

.bg-animation:hover {
  background-position: center bottom; /* Scrolls to bottom */
}
/* Ensure the overlay does not block hover events */
.overlay {
  pointer-events: none; /* Allows hover events to pass through */
}


@tailwind base;
@tailwind components;
@tailwind utilities;